DATABASE_URL=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_USER=

BASE_URL=
FRONTEND_URL=
DOMAIN=
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
SERVICE_NAME=
LOG_LEVEL=info
NODE_ENV=development
REDIS_URL=

FX_API_KEY=your_exchangerate_api_key
FX_API_URL=https://v6.exchangerate-api.com/v6

RESEND_API_KEY=your_resend_api_key